body{
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.orange-color{
  color: orange;
}
h1{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange ,tomato);
    padding: 10px 40px;
    font-weight: 700;
}
.border{
    border-left: 7px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice:1 ;
}
.first-section{
    display: flex;
}
.half-width img{
    width: 100%;
}
.half-width{
    width: 50%;
}
#center{
    text-align: center;

}
.raddias{
   border-radius: 20px;
}


.half-width-three{
    width: 30%;
}
.image-left{
    height: 30%;
    width: 30%;
}
.pad{
    box-sizing: border-box;
    padding: 15px;
}
.sky{
    background-color: lightblue;
}
.green{
    background-color:lightgreen;
}
.blue{
    background-color: rgb(16, 74, 110);
}
.develop{
    width: 100%;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    
    
}
.fixed img{
    width: 100%;
    padding: 5%;
}
.round{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:30%;
    padding-right: 10%;
    padding-bottom: 40%;
}
.pink{
    color: pink;
}
.footer{
    text-align: center;
    background-color:black;
}
.white{
    color: white;
}
.fornt{
    size: 20px;
}